**/*.pyc
.DS_Store
.env
venv/
/midas-api-data/GRANTS_ENDPOINT.json
/midas-api-data/ORGANIZATIONS_ENDPOINT.json
/midas-api-data/PAPERS_ENDPOINT.json
/midas-api-data/PEOPLE_ENDPOINT.json
/midas-api-data/.GRANTS_ENDPOINT.json.swp
/midas-api-data/GRANTS_ENDPOINT.json
/midas-api-data/ORGANIZATIONS_ENDPOINT.json
/midas-api-data/PAPERS_ENDPOINT.json
/midas-api-data/PEOPLE_ENDPOINT.json
/midas-viz-data/GRANTS_ENDPOINT.json
/midas-viz-data/ORGANIZATIONS_ENDPOINT.json
/midas-viz-data/PAPERS_ENDPOINT.json
/midas-viz-data/PEOPLE_ENDPOINT.json
